body {
    background-color: rgba(172, 172, 172, 0.171);
    font-family:Arial, Helvetica, sans-serif;
    margin: auto;
}

h1 {
    font-size: 40px;
}


#menu{
  background-color: rgb(216, 216, 216);
    height: 100px;
    width: 100%;
    display: FLEX;
    justify-content: flex-end;
    position: fixed;
}

#menu p {
    width: auto;
    text-align: center;
 
}

    #pic1 {
        background-image: url("../images/3.jpg");
        background-size: cover;
        width: 60px;
        height: 60px;
        margin-right: 700px;
    }

#menu a {
    padding: 20px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;

}

.hover a:hover {
background-color: rgb(255, 255, 255);
border-radius: 4px;

}

.hover{
display: flex;
justify-content: flex-end;
align-items: center;
}


#site1 {
    padding-top: 150px;
    padding-left: 30px;
}

#seite1 {
    display: flex;
    justify-content: flex-start;
}

#einleitung {
    width: 400px;
    padding-left: 110px;
    padding-top: 30px;
}

#maxi {

margin-left: 100px;
padding-top: 30px;

}


#third {
    display: flex;
    justify-content: space-between;
  
}
.icons {
    display: flex;
justify-content: flex-start;
}


#telefonicon {
    background-image: url("../images/telefon.png");
    width: 25px;
    height: 25px;
    background-size: cover;

    margin-top: 12.5px;
    margin-right: 10px;
}

#emailicon {
    background-image: url("../images/email.png");
    width: 25px;
    height: 25px;
    background-size: cover;

    margin-top: 12.5px;
    margin-right: 10px;
}

#stadt {
    
    margin-top: 12px;
}


#standorticon {
    background-image: url("../images/standort.png");
    width: 25px;
    height: 25px;
    background-size: cover;

    margin-top: 20px;
    margin-right: 10px;
}

#personbild {
    background-image: url("../images/p1.png");
     background-size: cover;
    width: 350px;
    height: 450px;
    margin-top: 220px;
    margin-right: 450px;
    box-shadow: 5px 5px 15px 5px #000000;
    }



ul {
padding-left: 50x;
list-style: none;

}

#site2 {
    font-size: 20px;
    padding-top: 100px;
    padding-left: 30px;
    margin-bottom: 100px;
    padding-right: 100px;
}

#ausbildung {
    padding-left: 80px;
}

#site3 {
    font-size: 20px;
    padding-top: 100px;
    padding-left: 30px;
    margin-bottom: 100px;
   
}

#site4 {
    font-size: 20px;
    padding-top: 100px;
    padding-left: 30px;
}


#beruf {
    display: flex;
    justify-content: flex-start;
}



#zeug a{
    text-decoration: none;
    color: black;
    }

    #zeug a:hover{
        text-decoration: none;
        color: black;
        font-size: larger;
     
        }
 #beruf2 a:hover{
            text-decoration: none;
            color: black;
            font-size: larger;
            }
    

#beruf2 a{
text-decoration: none;
color: black;
}



#site4 {
    font-size: 20px;
    padding-top: 100px;
    padding-left: 30px;
}

#kenntnisse {
    padding-left: 80px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#it {
    padding-right: 1200px;
}

#startphoto {
    width: 100%;
margin-top: 200px;
}

#photocon1 {
    margin-left: 738px;
}

#menu img {
   margin-right: 530px;
}



#third {
    display: flex;
    justify-content: space-between;
}

#telefonicon {
    background-image: url("../images/telefon.png");
    width: 20px;
    height: 20px;
    background-size: cover;
}

#second img {
    box-shadow: 9px 7px 13px -5px rgba(99, 99, 99, 0.596);
}

.Jahr {
   font-weight: bolder; 
   margin-top: 40px;
   width: 300px;
}

footer {
padding-top: 200px;

padding-bottom: 50px;
}

.blocked {
	text-align: justify;
	text-align-last: none;
}

#az1 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-left: 80PX;
    margin-top: 80px;
}

#az2 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-top: 80px;
}

#az3 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-top: 80px;
}

#az4 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-top: 80px;
}

#zeug1 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    margin-left: 50PX;
    margin-top: 80px;
}


#zeug2 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    margin-top: 80px;
}

#zeug3 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    margin-top: 80px;
}

#zeug4 {
    background-image: url("../images/doc.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    margin-right: 50px;
    margin-top: 80px;
}

.down {
    padding-top: 150px;
    padding-left: 20px;
}



#backbutton {
   text-align: center;
   margin-top: 50px;

}

#backbutton a {
    text-decoration: none;
    font-size: 20px;
}

#zeug {
    display: flex;
justify-content: left;
margin-top: 80px;
}

#main {
    margin-left: 80px;
}

#main1 {
    margin-top: 200px;
}

#pw {
    margin-left: 45px;
}

#back {
    margin-top: 50px;
}

#wrapper {
    display: flex;
    justify-content: space-between;
}

.abstand {
    margin-top: 1050px ;
}

.abstande {
    margin-bottom: 50px;
}

#beruftxt {
    margin-left: 80px;
    width: 400px;
}


